/* CSS：层叠样式表 其作用是让网页变的漂亮美观 */

/* CSS语法规则：
    1.行内式：css写在标签的style属性中
        <div style="color:red; font-size:30px">我是div标签</div>

    2.内嵌式：写在style标签中，style写在head标签中，head在html中
        <style>
            p {
                color:red;
                font-size:30px;
                background-color:green;
                width:400px;
                height:400px;
            }
        </style>

    3.外链式：写在css文件中，通过选择器来改变网页样式，需要在html中用link标签引入
        写在css文件中，就不需要style标签，直接选择器+{css属性}，例如下面

    上述三种作用域，行 -> 单个html -> 多个html
*/

p {
    color:red;
    font-size:30px;
    background-color:green;
    width:400px;
    height:400px;
}