/* 基础选择器 */

/* 1.标签选择器：标签名 { css属性名:属性值; } */
p {
    color: red;
}

div {
    color: #000;
}

h1 {
    color: #000;
}
/* 但是此标签选择器改变的是哪一类标签，有时候需要特别的我们自定义的某一些 */


/* 2.类选择器：.类名 { css属性名:属性值; } */
    /* 在标签中添加class属性，则可在css中写类选择器 */
    /* <div class="cls">我是div标签</div> */
    /* <div class="cls size">我是div标签</div> */
.black {
    color: #000;
}

.size {
    font-size: 30px;;
}


/* 3.id选择器：#id属性值 { css属性名:属性值; } 主要用于未来配合js做动态效果 */
/* id属性类似于身份证号码，在一个html中不能重复 一个id选择器只能选一个标签 一个标签只能有一个id属性值 */
    /* <div id="pie">我是div标签</div> */
#pie {
    color: #000;
    font-size: 30px;
}


/* 4.通配符选择器：* { css属性:属性值; } *代表设置页面中所有标签的样式 */
/* 日常开发基本不用，但是底下css代码会经常用，去除所有标签默认的边距 */
* {
    margin: 0;
    padding: 0;
}

